@import url('normalize.css');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    font-size:13px;
    background-image:url('assets/dark.png');
    background-repeat:repeat;
    background-attachment:fixed;
}
::-moz-selection {
	color:#fff;
	text-shadow:none;
	background:#aa1111;
}
::selection {
	color:#fff;
	text-shadow:none;
	background:#aa1111;
}
pre
{
    color:#fff;
    background-color:#161616;
    padding:10px;
    margin-top:10px;
    margin-bottom:20px;
    font-size:12px;
    line-height:1.5;
}
pre:last-child {
    margin-bottom:0;
}
.container {
    width:100%;
    max-width:1024px;
    margin:105px auto 0px auto;
}
.demo-content {
    padding-top:20px;
    padding-bottom:30px;
    padding-left:30px;
    padding-right:30px;
    background-color:#000;
    width:100%;
    height:auto;
    margin-top:30px;
    margin-bottom:30px;
}
header {
    width:100%;
    background-color:#000;
    color:#fff;
    font-size:40px;
    padding:10px;
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    font-weight:bold;
}
h1,h2,h3,h4,h5,h6 {
    margin-top:0px;
    margin-bottom:15px;
    color:#fff;
}
h1 {
    font-size:40px;
}
h2 {
    font-size:34px;
}
h3 {
    font-size:28px;
}
h4 {
    font-size:24px;
}
h5 {
    font-size:20px;
}
h6 {
    font-size:18px;
}
p {
    font-size:13px;
    line-height:1.5;
    margin-bottom:21px;
    margin-top:0px !important;
    word-spacing: 0.2em;
    color:#c7c7c7;
}
p:last-child {
    margin-bottom:0px;
}
#slide2 {
    margin-top:30px;
    margin-bottom:30px;
}
.examples {
    list-style:none;
    margin:0;
    margin-bottom:10px;
    padding:0;
    width:100%;
    height:auto;
    display:inline-block;
}
.examples li {
    float:left;
    display:inline-block;
    padding:10px;
    margin-right:5px;
    margin-bottom:5px;
    background-color:#161616;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
}
.examples li a {
    color:#fff;
    font-size:16px;
    text-decoration:none;
}
.examples li:hover {
    background-color:#aa1111;
}
.return-home
{
    background-color:#aa1111;
    padding:10px;
    color:#fff;
    font-size:16px;
    text-decoration:none;
    margin-top:10px;
    display:inline-block;
    cursor:pointer;
}
/*footer {
    position:fixed;
    bottom:0;
    right:0;
    background-image:url('assets/triangle.png');
    background-repeat:no-repeat;
    background-position:center center;
    width:100px;
    height:100px;
}*/
@media screen and (max-width: 600px) {
header {
    font-size:30px;
}
}
@media screen and (max-width: 480px) {
h1 {
    font-size:30px;
}
h2 {
    font-size:26px;
}
h3 {
    font-size:22px;
}
h4 {
    font-size:18px;
}
h5 {
    font-size:16px;
}
h6 {
    font-size:14px;
}
    }