.zeus-slider {
    position:relative;
    width:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}
.zeus-block {
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
    display:none;
}
.zeus-slide {
	margin:0px;
	padding:0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	outline:0px;
	border:none;
	float:left;
    overflow:hidden;
}
.zeus-slide.s-20 {
    width:25%;
}
.zeus-slide.s-25 {
    width:25%;
}
.zeus-slide.s-30 {
    width:30%;
}
.zeus-slide.s-40 {
    width:40%;
}
.zeus-slide.s-50 {
    width:50%;
}
.zeus-slide.s-60 {
    width:60%;
}
.zeus-slide.s-70 {
    width:70%;
}
.zeus-slide.s-75 {
    width:75%;
}
.zeus-slide.s-80 {
    width:80%;
}
.zeus-slide.s-100 {
    width:100%;
}
.zeus-slide img {
    width:100%;
    display:block;
    height:auto;
    margin:0px;
	padding:0px;
}
.zeus-content {
    padding:15px 25px 0px 25px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    width:100%;
    height:100%;
}
.zeus-info {
    padding:10px 10px 10px 15px;
    font-size:24px;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    margin-bottom:-60px;
    z-index:9;
}
.zeus-block iframe, .zeus-block embed, .zeus-block video {
	height:100%;
	width:100%;
    outline:none;
    border:none;
}
.next-block,.prev-block {
    position:absolute;
	z-index:9;
	cursor:pointer;
	height:60px;
	width:60px;
	-webkit-transition:opacity 0.4s ease-in-out;
	-moz-transition:opacity 0.4s ease-in-out;
	-o-transition:opacity 0.4s ease-in-out;
	-ms-transition:opacity 0.4s ease-in-out;
    opacity:0.5;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display:none;
}
.next-block {
    right:10px;
}
.prev-block {
    left:10px;
}
.next-block:hover, .prev-block:hover {
	opacity:1;
}
.clear {
    clear:both;
}
.s-show {
    display:block !important;
}
/* ================= COLORS  ================== */

.zeus-default{
    background-color:#000;
    color:#fff;
    background-image:url('../images/loader.gif');
    background-repeat:no-repeat;
    background-position:center center;
}
.zeus-default .zeus-content h1, .zeus-default .zeus-content h2, .zeus-default .zeus-content h3 {
    color:#fff;
}
.zeus-default .zeus-content {
    color:#c7c7c7;
}
.zeus-default .zeus-info {
    color:#fff;
    background-color:#000;
    background-color:rgba(0,0,0,0.7);
}
.zeus-default .next-block,.prev-block {
	background-color:#000;
}
.zeus-default .next-block {
	background-position:center center;
	background-image:url('../images/s-right.png');
	background-repeat:no-repeat;
}
.zeus-default .prev-block {
	background-position:center center;
	background-image:url('../images/s-left.png');
	background-repeat:no-repeat;
}

/* ================= MEDIA  ================== */

@media screen and (max-width: 600px) {
.zeus-info {
    padding:5px 5px 5px 10px;
    font-size:18px;
}
}
@media screen and (max-width: 480px) {
.zeus-info {
    font-size:14px;
}
.next-block,.prev-block {
    background-color:transparent !important;
}
.next-block {
    right:0px;
}
.prev-block {
    left:0px;
}    
.zeus-default .next-block {
	background-position:center center;
	background-image:url('../images/x-right.png');
	background-repeat:no-repeat;
}
.zeus-default .prev-block {
	background-position:center center;
	background-image:url('../images/x-left.png');
	background-repeat:no-repeat;
}
}